html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url("../fonts/ProximaNova-Black.eot");
  src: local("../fonts/Proxima Nova Black"), local("../fonts/ProximaNova-Black"), url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Th';
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: local("../fonts/Proxima Nova Extrabold"), local("../fonts/ProximaNova-Extrabld"), url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Th';
  src: url("../fonts/ProximaNovaT-Thin.eot");
  src: local("../fonts/Proxima Nova Thin"), local("../fonts/ProximaNovaT-Thin"), url("../fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaT-Thin.woff2") format("woff2"), url("../fonts/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova-Light.eot");
  src: local("../fonts/Proxima Nova Light"), local("../fonts/ProximaNova-Light"), url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("../fonts/Proxima Nova Bold"), local("../fonts/ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("../fonts/ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("../fonts/Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.aboutBakery .aboutBakery__contant p,
.work .work__contant form p,
.why .why-text p,
.footer .footer__head .footer__head-container p,
.footer .about-container .footer-bottom,
.footer .about-container .about-box .box_info li,
.footer .about-container .about-box .box_from p,
.head .head__menu .abouts .about .info,
.head .content p,
.range .range__contante .group p {
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
}

.head .content h1,
.range .range__contante .group h4 {
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-style: normal;
}

.head .head__menu .abouts button,
.head .content button,
.range .range__title .title-button button,
.work .work__contant form button,
.footer .footer__head .footer__head-container .head-box form button,
.aboutBakery .aboutBakery__contant h3,
.range h3,
.work .work__contant form h3,
.why h3,
.footer .footer__head .footer__head-container h3,
.work .work__contant form h4,
.why .why-text h4,
.head .head__menu .log .logo,
.head .head__menu .log .number,
.head .content h2,
.range .range__contante .group .group-button button,
.footer .footer__bottom .bottom-about .about-logo {
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-style: normal;
}

.head .head__menu,
.head .head__menu .log,
.range .range__title,
.range .range__contante,
.footer .footer__head .footer__head-container .head-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.head .head__menu .log .logo p,
.head .head__menu .log .number,
.head .head__menu .abouts,
.head .head__menu .abouts .about,
.footer .footer__bottom .bottom-about .about-logo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .head__menu .log .logo,
.head .head__menu .log .number,
.head .head__menu .abouts .about .info,
.head .content p,
.footer .footer__bottom .bottom-about .about-logo {
  color: #ffffff;
}

.aboutBakery .aboutBakery__contant h3,
.range h3,
.work .work__contant form h3,
.why h3,
.footer .footer__head .footer__head-container h3,
.work .work__contant form h4,
.why .why-text h4,
.aboutBakery .aboutBakery__contant p,
.work .work__contant form p,
.why .why-text p,
.footer .footer__head .footer__head-container p,
.footer .about-container .footer-bottom,
.footer .about-container .about-box .box_info li,
.footer .about-container .about-box .box_from p {
  color: #1A202C;
}

.aboutBakery .aboutBakery__contant,
.aboutBakery .aboutBakery__img .img-big,
.aboutBakery .aboutBakery__img .img-small,
.aboutBakery .aboutBakery__img .other,
.range .range__contante .group .group-img,
.work .work__img img,
.work .work__contant form {
  -webkit-box-shadow: 0px 0px 40px rgba(142, 162, 170, 0.2);
          box-shadow: 0px 0px 40px rgba(142, 162, 170, 0.2);
  border-radius: 15px;
}

.head .head__menu .abouts button,
.head .content button,
.range .range__title .title-button button,
.work .work__contant form button,
.footer .footer__head .footer__head-container .head-box form button {
  border-radius: 30px;
  font-size: 20px;
  line-height: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a202c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.head .head__menu .abouts button:hover,
.head .content button:hover,
.range .range__title .title-button button:hover,
.work .work__contant form button:hover,
.footer .footer__head .footer__head-container .head-box form button:hover {
  background-color: #FE9210;
}

.aboutBakery .aboutBakery__contant h3,
.range h3,
.work .work__contant form h3,
.why h3,
.footer .footer__head .footer__head-container h3 {
  font-size: 60px;
  line-height: 125%;
  text-transform: uppercase;
}

.work .work__contant form h4,
.why .why-text h4 {
  font-size: 34px;
  line-height: 125%;
  text-transform: uppercase;
}

.aboutBakery .aboutBakery__contant p,
.work .work__contant form p,
.why .why-text p,
.footer .footer__head .footer__head-container p,
.footer .about-container .footer-bottom,
.footer .about-container .about-box .box_info li,
.footer .about-container .about-box .box_from p {
  font-size: 24px;
  line-height: 130%;
}

body {
  width: 1920px;
  margin: 0 auto;
}

.head {
  background: url(../img/Rectangle.png) no-repeat 100%;
  height: 940px;
  margin: 0 auto;
}

.head .head__menu .log {
  margin-top: 10px;
}

.head .head__menu .log .logo {
  padding-right: 95px;
  font-size: 34px;
  line-height: 125%;
}

.head .head__menu .log .logo p {
  margin-top: 0;
  margin-left: -30px;
  text-shadow: 1px 1px 0px #ffd324, 2px 2px 0px #ffffff;
}

.head .head__menu .log .logo p::before {
  content: url(../img/Group60.svg);
  margin-right: 10px;
}

.head .head__menu .log .number {
  padding-right: 80px;
  padding-right: 80px;
  font-size: 34px;
  line-height: 125%;
}

.head .head__menu .abouts {
  margin-top: 5px;
}

.head .head__menu .abouts .about .info {
  padding-right: 50px;
  font-size: 24px;
}

.head .head__menu .abouts .about .last {
  padding-right: 89px;
}

.head .head__menu .abouts button {
  width: 286px;
  height: 55px;
  background: #ffd324;
  -webkit-box-shadow: 0px 0px 29px rgba(255, 249, 94, 0.54);
          box-shadow: 0px 0px 29px rgba(255, 249, 94, 0.54);
}

.head .head__menu .abouts button::after {
  content: url(../img/long_right.svg);
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.head .content {
  margin-left: 27px;
  margin-top: 132px;
}

.head .content h1 {
  font-size: 130px;
  line-height: 110%;
  text-transform: uppercase;
  color: #ffd324;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 0px 29px rgba(255, 249, 94, 0.54);
  margin-bottom: 0;
}

.head .content h2 {
  font-size: 70px;
  line-height: 125%;
  text-transform: uppercase;
  color: #ffd324;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 0px 29px rgba(255, 249, 94, 0.54);
  margin-top: 0;
  margin-bottom: 0;
}

.head .content p {
  font-size: 24px;
  line-height: 130%;
  display: block;
  width: 630px;
  margin-top: 30px;
}

.head .content button {
  background: #ffd324;
  -webkit-box-shadow: 0px 0px 29px rgba(255, 249, 94, 0.54);
          box-shadow: 0px 0px 29px rgba(255, 249, 94, 0.54);
  width: 316px;
  height: 55px;
  margin-top: 30px;
}

.aboutBakery {
  position: relative;
}

.aboutBakery .aboutBakery__contant {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 790px;
  height: 462px;
  padding: 30px 60px 0;
  background-color: #ffffff;
  margin-left: 27px;
  margin-top: 100px;
}

.aboutBakery .aboutBakery__contant h3 {
  margin-bottom: 35px;
}

.aboutBakery .aboutBakery__contant p {
  margin: 10px 0;
}

.aboutBakery .aboutBakery__img {
  margin-right: 27px;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 760px 444px;
  grid-template-rows: auto;
  grid-gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  grid-template-areas: 'img-big img-small' 'img-big  other';
}

.aboutBakery .aboutBakery__img .img-big {
  grid-area: img-big;
}

.aboutBakery .aboutBakery__img .img-small {
  grid-area: img-small;
}

.aboutBakery .aboutBakery__img .other {
  grid-area: other;
}

.range h3 {
  text-align: center;
  margin-top: 178px;
  margin-bottom: 50px;
}

.range .range__title {
  margin: 0 auto 40px;
  max-width: 1550px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.range .range__title .title-button button {
  width: 286px;
  height: 55px;
  border: 1px solid #ffd324;
  background-color: #ffffff;
}

.range .range__title .title-button button:hover {
  background-color: #ffd324;
}

.range .range__contante {
  margin-left: 14px;
  margin-right: 14px;
}

.range .range__contante .group h4 {
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #1A202C;
}

.range .range__contante .group p {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1A202C;
}

.range .range__contante .group .group-text {
  margin-top: 10px;
}

.range .range__contante .group .group-button button {
  border-radius: 30px;
  font-size: 20px;
  line-height: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a202c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 286px;
  height: 55px;
  background-color: #ffd324;
}

.group-button {
  visibility: hidden;
}

:hover + .group-button {
  visibility: visible;
}

.work {
  margin-top: 85px;
  position: relative;
}

.work .work__img {
  margin-left: 27px;
}

.work .work__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.work .work__contant form {
  margin-top: 50px;
  position: absolute;
  width: 790px;
  height: 620px;
  background-color: #ffffff;
  padding: 60px 80px 0px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.work .work__contant form h3 {
  margin-bottom: 25px;
}

.work .work__contant form p {
  padding-top: 10px;
}

.work .work__contant form h4 {
  font-size: 34px;
  padding-top: 20px;
}

.work .work__contant form button {
  width: 444px;
  height: 55px;
  background-color: #ffd324;
  margin-top: 30px;
}

.why {
  text-align: center;
}

.why h3 {
  margin-top: 150px;
  margin-bottom: 40px;
}

.why .why-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why .why-text p {
  font-size: 20px;
}

.why .why__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1392px;
}

.why .why__group .group-box {
  width: 444px;
}

.footer {
  margin-top: 150px;
}

.footer .footer__head {
  background-image: url(../img/footer1.png);
  text-align: center;
}

.footer .footer__head .footer__head-container {
  width: 1234px;
  height: 541px;
  margin: 0 auto;
}

.footer .footer__head .footer__head-container h3 {
  color: #ffffff;
  padding-top: 80px;
  margin-bottom: 30px;
}

.footer .footer__head .footer__head-container p {
  color: #ffffff;
  padding-bottom: 10px;
}

.footer .footer__head .footer__head-container p span {
  color: #ffd324;
}

.footer .footer__head .footer__head-container .head-box {
  margin-top: 61px;
}

.footer .footer__head .footer__head-container .head-box form input {
  background: transparent;
  border: none;
  width: 444px;
}

.footer .footer__head .footer__head-container .head-box form p {
  border-bottom: 1px solid #fff;
  text-align: left;
  margin-top: 15px;
}

.footer .footer__head .footer__head-container .head-box form button {
  width: 286px;
  height: 55px;
  background-color: #ffd324;
}

.footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__bottom .bottom-about {
  background-image: url(../img/footer2.png);
  width: 975px;
  height: 566px;
}

.footer .footer__bottom .bottom-about .about-logo {
  padding-right: 95px;
  font-size: 34px;
  line-height: 125%;
}

.footer .footer__bottom .bottom-about .about-logo p {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-shadow: 1px 1px 0px #ffd324, 2px 2px 0px #ffffff;
  padding-top: 36px;
}

.footer .footer__bottom .bottom-about .about-logo p::before {
  content: url(../img/Group60.svg);
  margin-right: 10px;
  margin-left: 30px;
}

.footer .about-container .footer-bottom {
  margin-top: 90px;
  color: #fff;
  font-size: 16px;
}

.footer .about-container .about-box {
  margin-top: 30px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 215px 277px;
  grid-gap: 290px;
}

.footer .about-container .about-box .box_info li {
  list-style-type: none;
  color: #fff;
  margin-bottom: 30px;
}

.footer .about-container .about-box .box_from p {
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 5px;
}

.footer .about-container .about-box .box_from .from {
  margin-bottom: 30px;
  margin-left: -30px;
}

.footer .about-container .about-box .box_from .from::before {
  content: url(../img/p.svg);
  margin-right: 10px;
}

.footer .about-container .about-box .box_from .schedule {
  margin-left: -30px;
}

.footer .about-container .about-box .box_from .schedule::before {
  content: url(../img/k.svg);
  margin-right: 10px;
}

.footer .about-container .about-box .box_from .phone {
  margin-top: 30px;
  margin-left: -30px;
}

.footer .about-container .about-box .box_from .phone::before {
  content: url(../img/t.svg);
  margin-right: 10px;
}
@supports (-webkit-appearance:none){
.head{background:url(../img/Rectangle.webp) no-repeat 100%}
.footer .footer__head{background-image:url(../img/footer1.webp)}
.footer .footer__bottom .bottom-about{background-image:url(../img/footer2.webp)}
}
